  <div id="pagination">
    <ul id="pagination-flickr">
    <li class="previous-off">&laquo;上一页</li>
      <li class="active">1/10</li>
      <li class="next"><a href="?page=8">下一页 &raquo;</a></li>
   </ul>
   </div>

  <tr><td colspan="2"><ul class="errorlist nonfield"><li>(隐藏字段 article) 这个字段是必填项。</li></ul></td></tr>
<tr><th><label for="author">Author:</label></th><td><input class="comment_input" id="author" maxlength="50" name="author" required="required" size="25" tabindex="1" type="text" value="zdy" /></td></tr>
<tr><th><label for="email">Email:</label></th><td><input class="comment_input" id="email" maxlength="50" name="email" required="required" size="25" tabindex="2" type="email" value="476639213@qq.com" /></td></tr>
<tr><th><label for="url">Url:</label></th><td><input class="comment_input" id="url" maxlength="100" name="url" size="25" tabindex="3" type="url" value="http://www.qq.com" /></td></tr>
<tr><th><label for="comment">Comment:</label></th><td><textarea class="message_input" cols="25" id="comment" name="comment" required="required" rows="5" tabindex="4">
zxzzzzzzz</textarea><input id="id_article" name="article" type="hidden" /></td></tr>